<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<style>
    div.relative{
        position:relative;
        
        height:50px;
        font-size:10px;
        margin-top: 495px;
        margin-left: 10px;
        width: 250px;
            }
</style>
<div class="alert alert-success relative">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
 
  
</body>
</html>
