body{
    margin: 0px;
}
.brand-logo{
    width: 100px;
}
.page{
    display: flex;
    width: 100%;
}
.left-sidebar{
    width: 17%;
}
.body-content{
    width: 83%;
}
.app-header{
    height: 60px;
    width: 83%;
    background-color: rgb(214, 214, 214);
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    top: 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.249);
}
.app-header b{
    margin-left: 30px;
}
.addproducts{
    height: 35px;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-size: 18px;
}
.margin{
    height: 70px;
    width: 83%;
}
td, th{
    text-align: center !important;
}
.update{
    width: 80px;
    height: 25px;
    color: #fe5454;
    border-radius: 6%;
    border: 1px solid #fe5454;
    text-align: center;
    background-color: white;
}
.delete{
    width: 80px;
    height: 25px;
    color: white;
    border-radius: 6%;
    border: 1px solid #fe5454;
    background-color: #fe5454;
    text-align: center;
}
.left-sidebar{
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar-nav{
    background-color: rgb(51, 51, 51);
    color: white;
    height: 1000px !important;
}
.margin-sidebar{
    width: 17%;
}
#sidebarnav{
    padding-left: 0px;
}
.sidebar-item{
    list-style: none;
    padding: 15px 0px;
}
.sidebar-item .spani{
    width: 50px;
    text-align: center;
}
.sidebar-item:hover{
    background-color: rgba(255, 255, 255, 0.338);
    color: #fe5454;
}
.sidebar-link{
    display: flex;
    text-decoration: none;
    color: white;
}
.container-fluid{
    margin: 0 10px;
}
thead{
    height: 50px;
}
tr{
    text-align: center;
}



/* SEARCH */
.search{
    width: 560px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.607);
    border-radius: 10px;
    border: 1px solid grey;
}
.icon_search{
    font-size: 20px;
    padding: 10px 15px;
}
.input_search{
    font-size: 15px;
    float: right;
    height: 95%;
    width: 88%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    padding-left: 10px;
} 
.close{
    border-radius: 5px;
    background-color: white;
}





/* add user */
.inputAddUser{
    border: 1px solid #56aef485;
    margin-bottom: 1rem;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f7f8f97a;
}

.hidden {
    display: none;
}
div.relative{
    position:relative;
    
    height:50px;
    font-size:10px;
    margin-top: 495px;
    margin-left: 10px;
    width: 250px;
        }