
.section_article-xs{
  display: none;
}
.section_header{
  margin-top: 30px;
}
.title{
  font-size: 2.3rem;
}
.title_item{
  padding: 0 20px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.30);
}
.box_message{
  background: rgba(212, 209, 209, 0.50);
  width: 780px;
  height: 50px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.cart_separate1{
  width: 780px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);;
  padding-top: 35px;
}
.section_article, .section_article-xs{
  margin-top: 35px;
}
.section_article-item, .section_article-item-xs{
  height: 165px;
  width: 780px;
  display: flex;
}
.img_item img, .img_item-xs img{
  height: 160px;
  width: 160px;
}
.infor_item, .infor_item-xs{
  width: 165px;
  margin-left: 30px;
}
.namePr, .namePr-xs{
  font-size: 1.5rem;
}
.if_item, .if_item-xs {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.30);
  font-size: 1.3rem;
}
.sale, .sale-xs{
  width: 100px;
  height: 20px;
  background-color: var(--main-color);
  font-size: 1.3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_item1, .button_item2, .button_item1-xs, .button_item2-xs{
  width: 35px;
  height: 32px;
  border-radius: 35px;
  border: none;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translateY(200%);
  margin: 0 5px 0 50px;
}
.button_item2-xs, .button_item2{
  margin: 0 50px 0 5px !important;
}
.quantity_item, .quantity_item-xs{
  width: 40px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #B6B6B6;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(200%);
}
.price1, .price1-xs{
  color: red;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 37px;
}
.delete, .delete-xs{
  background-color: black;
  color: white;
  border-radius: 35px;
  width: 30px;
  height: 30px;
}
.button, .button-xs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 51px;
}


section{
  display: flex;
  justify-content: space-evenly;
}
.section_right{
  width: 400px;
  height: 745px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  margin: 71px 0 0 0;
  background-color: white;
}
.total_payment{
  margin: 0 15px;
}
.total_payment-header{
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 86px;
  justify-content: space-between;
}
.total_payment-header-left{
  display: flex;
  align-items: center;
}
.cart_separate2{
  width: 370px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}



.total_payment-body{
  padding: 30px 0 50px 0;
}
.sumary{
  font-size: 1.7rem;
}
.space{
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-top: 30px;
}
.space2{
  font-size: 2.5rem;
}
.price2{
  color: red;
}



.transport{
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.transport a{
  text-decoration: none;
  color: rgba(23, 3, 251, 0.70);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.delivery{
  margin: 40px 0;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.50);
}
.pay{
  color: white;
  background-color: var(--main-color);
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 15px 0 20px 85px;
}


.or{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}
.or p{
  margin: 0 20px; 
}
.cart_separate3{
  width: 220px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}
@media (min-width: 1024px) and (max-width: 1200px) {
   .section_left{
    margin-left: 50px;
  }
  .box_message{
    width: 650px;
  }
  .cart_separate1{
    width: 650px;
  }
  .section_article-item{
    margin-bottom: 10px;
    width: 650px;
    height: 125px;
  }
  .img_item img {
    height: 120px;
    width: 120px;
}
  .button_item1{
    margin-left: 5px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
  .section_right {
    width: 350px;
    height: 700px;
  }
  .cart_separate2{
    width: 320px;
  }
  .pay{
    margin: 15px auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .section_left{
    margin-left: 50px;
  }
  .section_right{
    margin-left: 10px;
  }
  .box_message{
    width: 420px;
  }
  .cart_separate1{
    width: 420px;
  }
  .section_article-item{
    margin-bottom: 10px;
    width: 450px;
    height: 90px;
    display: flex;
    align-items: center;
  }
  .img_item img {
    height: 90px;
    width: 90px;
}
.infor_item{
  margin-left: 5px;
  width: 110px;
}
.namePr{
  font-size: 1rem;
}
.button_item1, .button_item2, .quantity_item{
  transform: translateY(0%);
}
.quantity_item{
  width: 30px;
  height: 22px;
}
.button_item1{
  margin-left: 5px;
}
  .button_item2, .button_item1{
    margin-right: 5px !important;
    width: 30px;
    height: 27px;
  }
  .delete{
    width: 20px;
    height: 20px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
  .section_right {
    width: 280px;
    height: 600px;
  }
  .space{
    padding-top: 10px;
  }
  .space2 {
    font-size: 2rem;
}
.delivery {
  margin: 20px 0;
}

  .cart_separate2{
    width: 260px;
  }
  .pay{
    margin: 15px auto;
  }
}
@media (min-width: 480px) and (max-width: 769px){
  .section{
    display: block;
  }


  .section_right, .section_left{
    margin-left: 10px;
    margin-right: 10px;
  }
  .box_message{
    width: 100%;
  }
  .cart_separate1{
    width: 100%;
  }
  .section_article table{
    margin: 0 auto;
    width: 80%;
  }
  .section_article-item{
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img_item img {
    height: 90px;
    width: 90px;
}
.infor_item{
  margin-left: 5px;
  width: 110px;
}
.namePr{
  font-size: 1rem;
}
.button_item1, .button_item2, .quantity_item{
  transform: translateY(0%);
}
.quantity_item{
  width: 30px;
  height: 22px;
}
.button_item1{
  margin-left: 5px;
}
  .button_item2, .button_item1{
    margin-right: 5px !important;
    width: 30px;
    height: 27px;
  }
  .delete{
    width: 20px;
    height: 20px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
  .section_right {
    margin: 10px auto;
    width: 450px;
    height: 600px;
  }
  .space{
    padding-top: 10px;
  }
  .space2 {
    font-size: 2rem;
}
.delivery {
  margin: 20px 0;
}

  .cart_separate2{
    width: 420px;
  }
  .pay{
    margin: 15px auto;
  }



  
  .service1{
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: 200px;
  }
  
  .disnone-sm, .disnone{
      display: none;
  }
  .service{
    margin: 20px;
  }
.service, .icon-user{
      display: block;
  }
  .down-line{
      justify-content: space-evenly;
  }
  .service_item{
      font-size: 1.2rem;
      height: 20px;
  }
}
@media (min-width: 319px) and (max-width: 480px){

  .section{
    display: block;
  }
  .section_article{
    display: none;
  }
  .section_article-xs{
    display: block;
    margin-top: 20px;
  }
  .section_right, .section_left{
    margin-left: 10px;
    margin-right: 10px;
  }
  .box_message{
    width: 100%;
    font-size: 1rem;
  }
  .cart_separate1{
    width: 100%;
    padding-top: 10px;
  }
  .section_article-xs table{
    margin: 0 auto;
    width: 80%;
  }
  .section_article-item-xs{
    margin-bottom: 10px;
    width: 98%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img_item-xs img {
    height: 80px;
    width: 80px;
}
.infor_item-xs{
  margin-left: 5px;
  width: 110px;
}
.namePr-xs{
  font-size: 1rem;
}
.button_item1-xs, .button_item2-xs, .quantity_item-xs{
  transform: translateY(0%);
}
.quantity_item-xs{
  width: 30px;
  height: 22px;
}
.button_item1-xs{
  margin-left: 1px;
}
  .button_item2-xs, .button_item1-xs{
    margin-right: 5px !important;
    width: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-xs{
    width: 20px;
    height: 20px;
  }
  .price1-xs{
    padding: 0 2px;
    display: block;
  }
  .sale-xs{
    width: 70px;
    height: 18px;
  }
  .button-xs{
    padding-left: 10px;
  }
  .if_item-xs{
    padding: 0px;
    margin: 2px;
  }
  .section_right {
    margin: 10px auto;
    width: 90%;
    height: 600px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .space{
    padding-top: 10px;
  }
  .space2 {
    font-size: 2rem;
}
.delivery {
  margin: 20px 0;
}

  .cart_separate2{
    width: 99%;
  }
  .pay{
    margin: 15px auto;
  }



  
  .service1 {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1rem;
}
.service1 p{
  margin-top: 0px;
}
  .disnone-sm, .disnone{
      display: none;
  }
  .service{
    display: block;
    margin-top: 0px;
    margin-left: 5px;
  }
.service, .icon-user{
      display: block;
  }
  .down-line{
      justify-content: space-evenly;
      margin-top: 5px;
  }
  .service_item{
      font-size: 1.2rem;
      height: 20px;
  }
  .infor-service img {
    width: 30px;
    height: 30px;
}
}