.section_left{
  width: 100%;
}
.section_article-xs{
  display: none;
}
.section_article table{
  margin: 0 auto;
  width: 100%;
}
.section_article table tbody tr{
  display: flex;
  justify-content: space-between;
}
.section_header{
  margin-top: 30px;
}
.title{
  font-size: 2.3rem;
}
.title_item{
  padding: 0 20px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.30);
}
.box_message{
  background: rgba(212, 209, 209, 0.50);
  height: 50px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.cart_separate1{
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);;
  padding-top: 35px;
}
.section_article, .section_article-xs{
  margin-top: 25px;
}
.section_article-item, .section_article-item-xs{
  height: 165px;
  display: flex;
  width: 100%;
}
.img_item img, .img_item-xs img{
  height: 160px;
  width: 160px;
}
.infor_item, .infor_item-xs{
 margin-top: 30px;
  margin-left: 30px;
}
.namePr, .namePr-xs{
  font-size: 1.7rem;
}
.if_item, .if_item-xs {
  padding: 0;
  color: black;
  font-size: 1.3rem;
}
.button_item1, .button_item2, .button_item1-xs, .button_item2-xs{
  width: 35px;
  height: 32px;
  border-radius: 35px;
  border: none;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translateY(200%);
  margin: 0 5px 0 60px;
}
.button_item2-xs, .button_item2{
  margin: 0 60px 0 5px !important;
}
.quantity_item, .quantity_item-xs{
  width: 40px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #B6B6B6;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(200%);
}
.price1, .price1-xs{
  color: red;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}
.price2{
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}
.delete, .delete-xs{
  background-color: black;
  color: white;
  border-radius: 35px;
  width: 30px;
  height: 30px;
}
.button, .button-xs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 51px;
}
.buttoncheckout{
  justify-content: end;
  width: 140px;
  height: 50px;
  font-size: 1.7rem;
  background-color: #fe5454;
  border: none;
  margin: 20px 0;
  border-radius: 5px;
}
.buttoncheckout a{
  color: white !important;
  text-decoration: none;
}
@media (min-width: 1024px) and (max-width: 1200px) {
   .section_left{
    margin-left: 50px;
  }
  .box_message{
    width: 650px;
  }
  .cart_separate1{
    width: 650px;
  }
  .section_article-item{
    margin-bottom: 10px;
  }
  .img_item img {
    height: 120px;
    width: 120px;
}
  .button_item1{
    margin-left: 5px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .section_left{
    margin-left: 50px;
  }
  .box_message{
    width: 420px;
  }
  .cart_separate1{
    width: 420px;
  }
  .section_article-item{
    margin-bottom: 10px;
    width: 450px;
    height: 90px;
    display: flex;
    align-items: center;
  }
  .img_item img {
    height: 90px;
    width: 90px;
}
.infor_item{
  margin-left: 5px;
  width: 110px;
}
.namePr{
  font-size: 1rem;
}
.button_item1, .button_item2, .quantity_item{
  transform: translateY(0%);
}
.quantity_item{
  width: 30px;
  height: 22px;
}
.button_item1{
  margin-left: 5px;
}
  .button_item2, .button_item1{
    margin-right: 5px !important;
    width: 30px;
    height: 27px;
  }
  .delete{
    width: 20px;
    height: 20px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
}
@media (min-width: 480px) and (max-width: 769px){
  .section{
    display: block;
  }


  .section_right{
    margin-left: 10px;
    margin-right: 10px;
  }
  .box_message{
    width: 100%;
  }
  .cart_separate1{
    width: 100%;
  }
  .section_article table{
    margin: 0 auto;
    width: 100%;
  }
  .section_article-item{
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img_item img {
    height: 90px;
    width: 90px;
}
.infor_item{
  margin-left: 5px;
  width: 110px;
}
.namePr{
  font-size: 1rem;
}
.button_item1, .button_item2, .quantity_item{
  transform: translateY(0%);
}
.quantity_item{
  width: 30px;
  height: 22px;
}
.button_item1{
  margin-left: 5px;
}
  .button_item2, .button_item1{
    margin-right: 5px !important;
    width: 30px;
    height: 27px;
  }
  .delete{
    width: 20px;
    height: 20px;
  }
  .price1{
    padding: 0 10px;
  }
  .total_payment-body {
    padding: 15px 0;
}
  .button{
    padding-left: 10px;
  }
  .if_item{
    padding: 0px;
  }
}
@media (min-width: 319px) and (max-width: 480px){

  .section{
    display: block;
  }
  .section_article{
    display: none;
  }
  .section_article-xs{
    display: block;
    margin-top: 20px;
  }
  .section_right, .section_left{
    margin-left: 10px;
    margin-right: 10px;
  }
  .box_message{
    width: 100%;
    font-size: 1rem;
  }
  .cart_separate1{
    width: 100%;
    padding-top: 10px;
  }
  .section_article-xs table{
    margin: 0 auto;
    width: 100%;
  }
  .section_article-item-xs{
    margin-bottom: 10px;
    width: 98%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img_item-xs img {
    height: 80px;
    width: 80px;
}
.infor_item-xs{
  margin-left: 5px;
  width: 110px;
}
.namePr-xs{
  font-size: 1rem;
}
.button_item1-xs, .button_item2-xs, .quantity_item-xs{
  transform: translateY(0%);
}
.quantity_item-xs{
  width: 30px;
  height: 22px;
}
.button_item1-xs{
  margin-left: 1px;
}
  .button_item2-xs, .button_item1-xs{
    margin-right: 5px !important;
    width: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-xs{
    width: 20px;
    height: 20px;
  }
  .price1-xs{
    padding: 0 2px;
    display: block;
  }
  .sale-xs{
    width: 70px;
    height: 18px;
  }
  .button-xs{
    padding-left: 10px;
  }
  .if_item-xs{
    padding: 0px;
    margin: 2px;
  }
}