body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#tieude{
height:100px;
}
#a1 {
    background-color: #fe5454;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size:x-small;
    height:25px;
}
#a2 {
    color: #fe5454;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-size:x-small;
    height:75px;
}

#a1 a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

#a1 .logo {
    font-size: 12px;
    font-weight: bold;
}

#a1 .icons {
    display: flex;
    align-items: center;
}

#a1 .account {
    display: flex;
    align-items: center;
}

#a1 img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.dia-chi {
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
}

.dia-chi img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.b1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.b2 {
    margin-bottom: 10px;
}

.button-thay-doi {
    background-color: #fe5454;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}