
/* content */
.content{
    margin: 0px 250px;
}
.category_name{
    font-size: 2.5rem;
}
.category_infor{
    font-size: 1.5rem;
    margin: 30px 0px;
}
.category_infor a{
    color: #fe5454;
}
.category-item{
    border: none;
    background-color: #e0e0e04d;
    width: 32% !important;
    height: 150px;
    border-radius: 20px;
    font-size: 2.5rem;
    margin: 5px;
}
.category-item:hover{
    border: 1px solid #fe5454;
    color: #fe5454;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.153);
}
.img-category-item{
    width:  150px !important;
    height: 149px !important;
    border-radius: 20px;
}
.modal {
    --bs-modal-width: 1000px !important;
}
.modal-title{
    font-size: 2.5rem;
}
.close{
    font-size: 3rem;
    border: none;
    background-color: white;
}
.modal-body a{
    text-decoration: none ;
}
.OPr{
    color: black;
    width: 235px;
    height: 400px;
    background-color: #bcbcbc14;
    margin-top: 10px;
}
.OPr:hover{
    background-color: #bcbcbc1c;
    border: 1px solid rgba(128, 128, 128, 0.34);
}
.OPr img{
    width: 230px;
    height: 235px;
}
.nameOPr, .priceOPr{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
}
.nameProvider, .inforOPr{
    font-size: 1.4rem;
    color: grey;
    padding-left: 5px;
}

.nameProvider, .priceOPr{
  display: -webkit-box;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

  @media (min-width: 1024px) and (max-width: 1200px) {
    .content{
        margin: 0px 40px;
    }
    .img-category-item{
        height: 145px !important;
    }
    .modal {
        --bs-modal-width: 850px !important;
    }

    /* footer */
   /* .footer_left{
     margin: 0px 10px;
   }
   .follow{
     width: 400px;
     height: 80px;
     margin-left: 10px;
  }
  .footer_email{
     width: 250px;
     height: 30px;
     margin-top: 0px;
     border: 1px solid #fd5353;
  }
  .send{
     margin-left: 5px;
  }
  .language {
   transform: translateY(30%);
  }
  .language b{
     margin-left: 10px;
  }
  .footer_language{
     width: 231px;
     height: 30px;
     margin-left: 10px;
  }
  .language_select {
     width: 310px;
     height: 30px;
  }
  .footer_middle1, .footer_middle2, .footer_right {
     margin: 20px;
  } */
  }
  @media (min-width: 1200px){
    .content{
        margin: 0px 130px;
    }
    .img-category-item{
        height: 145px !important;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px){
    /* header */
   /* .nav_bar{
       font-size: 1rem;
   }
   .image_logo{
       width: 80px;
       margin-right: 20px;
   }
   .logo{
     width: 50px;
   } */
  
  /* content */
  .content{
    margin: 0px 10px;
    }
    .category-item{
        width: 31%;
        font-size: 2rem;
        text-align: left;
        line-height: 150px;
    }
    .category-item b{
        position:absolute;
        z-index: 1;
        padding-left: 20px;
    }
    .img-category-item{
        width: 135px !important;
        height: 145px !important;
        float: right;
    }

    .modal {
        --bs-modal-width: 700px !important;
    }
  
  /* footer */
   /* .follow{
     width: 285px;
     height: 100px;
     margin-left: 5px;
     transform: translateY(0%);
  }
  .footer b{
     font-size: 1.5rem;
  }
  .footer_email{
     width: 250px;
     height: 30px;
     margin: 0 0 5px 10px;
     border: 1px solid #fd5353;
  }
  
  .send{
     margin-left: 5px;
  }
  .language {
   transform: translateY(0%);
  }
  .language b{
     margin-left: 10px;
  }
  .footer_language{
     width: 231px;
     height: 30px;
     margin-left: 10px;
  }
  .language_select {
     width: 310px;
     height: 30px;
  }
  .footer_left, .footer_middle1, .footer_middle2, .footer_right {
   margin-left: 10px;
   margin-right: 10px;
  } */
  }
  @media (min-width: 480px) and (max-width: 769px){
    /* header */
   /* .nav_bar{
       font-size: 1.5rem;
       height: calc(var(--header-navbar) -5px);
   }
   .nav_bar-item-left, .nav_bar-item-right, p{
       margin-bottom: 0px !important;
   }
   .image_logo{
       width: 100px;
       margin-right: 10px;
   }
   .image_logo img{
       width: 40px;
   }
   .input_search{
       width: 83%;
   }
   .icon_header_body{
       font-size: 2rem;
       margin: 25px 10px;
   }
   
   .disnone-sm{
       display: none;
   }
    .icon-user{
       display: block;
   }
   .down-line{
       justify-content: space-evenly;
   } */
  
  
   
  /* content */
  .content{
    margin: 0px 10px;
    }
    .category-item{
        width: 47%;
        font-size: 2rem;
        text-align: left;
        line-height: 150px;
    }
    .category-item b{
        position:absolute;
        z-index: 1;
        padding-left: 20px;
    }
    .img-category-item{
        width: 135px !important;
        height: 145px !important;
        float: right;
    }
    .row>* {
         width: 50% !important;
    }


   /* footer */
   /* .follow {
     width: 200px;
     height: 80px;
     transform: translateY(0%);
     margin-left: 20px;
  }
  .footer b, .footer td {
   font-size: 1rem;
  }
  .footer b{
   margin-left: 0px;
  }
  .footer td{
   margin-right: 5px;
  }
  .footer_email {
   width: 180px;
   height: 20px;
   margin: 0px 0px 5px 10px;
   border: 1px solid rgb(253, 83, 83);
  }
  
  .send{
     margin-left: 5px;
  }
  .language {
   transform: translateY(0%);
  }
  .language b{
     margin-left: 20px;
  }
  .footer_language {
   width: 200px;
   height: 30px;
   margin-left: 20px;
  }
  .language_select {
   width: 200px;
   height: 30px;
  }
  .footer_left, .footer_middle1, .footer_middle2, .footer_right {
   margin-left: 5px;
   margin-right: 5px;
  } */
  }
  @media (min-width: 319px) and (max-width: 480px){
   /* .nav_bar, .image_logo, .header_heard_cart, .disnone-sm, .disnone, .disnone-xs{
     display: none;
  }
  .header{
     height: 45px;
  }
  .header_body{
     height: calc(var(--header-with-search)- 20px);
  }
  .search{
     height: 30px;
     margin-top: 5px;
     width: 200px;
  }
  .input_search{
     width: 85%; 
  }
  .icon_search{
     padding: 10px 5px;
  }
  .bar{
     display: block;
     color: white;
     font-size: 2rem;
     margin: 3px;
     z-index: 1;
  }
  .bar > button, .btn-close{
     float: right;
     margin-right: 5px;
     border: none;
     background-color:#bcbcbc00;
  }
  .listbar{
   background-color: #bcbcbc;
   width: 120px;
   margin-top: 40px;
   padding: 5px;
   display: none;
  }
  .listbar li{
     list-style: none;
     font-size: 1.5rem;
     margin: 5px 0;
  }
  .listbar > li > a > span{
     font-size: 1.5rem;
     margin: 5px;
  }
  .icon-user{
     display: block;
  }
  
  .nav_bar-item-left{
   padding-left: 5px;
  }
  .title, .title_item{
   font-size: 1.5rem;
   padding: 0 5px;
  }
  
  
  
  
  
  
  
  
   .disnone-sm, .disnone{
       display: none;
   }
    .icon-user{
       display: block;
   }
   .down-line{
       justify-content: space-evenly;
       margin-top: 5px;
   } */
  
 

   /* content */
  .content{
    margin: 0px 10px;
    }
    .category-item{
        width: 95%;
        font-size: 2rem;
        text-align: left;
        line-height: 150px;
    }
    .category-item b{
        position:absolute;
        z-index: 1;
        padding-left: 20px;
    }
    .img-category-item{
        width: 135px !important;
        height: 145px !important;
        float: right;
    }
    .category_infor {
        font-size: 1rem;
        margin: 10px 0px;
    }
    .row>* {
        width: 50% !important;
   }
   .OPr{
    width: 135px;
}
.OPr img{
    width: 135px;
    height: 135px;
}
.nameOPr, .priceOPr{
    font-size: 1rem;
    margin-top: 5px;
}
.nameProvider, .inforOPr{
    font-size: 0.9rem;
}


  
  /* footer */
  /* .footer{
   display: block;
   height: 100%;
  }
   .follow {
     width: 200px;
     height: 80px;
     transform: translateY(0%);
     margin-left: 20px;
  }
  .footer b, .footer td {
   font-size: 1rem;
  }
  .footer b{
   margin-left: 0px;
  }
  .footer td{
   margin-right: 5px;
  }
  .footer_email {
   width: 180px;
   height: 20px;
   margin: 0px 0px 5px 10px;
   border: 1px solid rgb(253, 83, 83);
  }
  
  .send{
     margin-left: 5px;
  }
  .language {
   transform: translateY(0%);
  }
  .language b{
     margin-left: 20px;
  }
  .footer_language {
   width: 200px;
   height: 30px;
   margin-left: 20px;
   margin-top: 5px;
  }
  .language_select {
   width: 200px;
   height: 30px;
  }
  .footer_left, .footer_middle1, .footer_middle2, .footer_right {
   margin-left: 5px;
   margin-right: 5px;
  } */
  }