.main-container {
    height: 800px;
    background-color: #f5f5f5;
    font-size: 1.5rem !important;
}

.container-pageuser {
    max-width: 300px;
}

.container2 {
    max-width: 1600px;
}

.main-container2 {
    margin-left: 50px;
    margin-top: 30px;
    width: 1000px;
    height: 650px;
}

.profile {

    height: 100px;
}

.listpu {
    height: 500px;
    text-align: start;
}

.profile img {
    border-radius: 50%;
    overflow: hidden;
}
.m-lg-4{
    cursor: pointer;
}
.main-list1 {
    background-color: white;
    width: 1000px;
    height: 65px;
    justify-content: space-evenly;
}

.main-list3 {
    background-color: white;
    width: 1000px;
}
.vertical-line {
    width: 0.5px;
    height: 25px;
    background-color: rgb(201, 201, 201);
}

.linepageuser {
    border: 1px solid rgba(224, 224, 224, 0.539);
}
.store2-all1 img{
    width: 80px;
    height: 80px;
}