
  /* CONTENT */
  .cover_image{
    width: 100%;
  }
  .cover_image img{
    height: 500px;
    width: 100%;
  }
  .content-person{
    margin-left: 70px;
    margin-right: 70px;
  }
  .avatar_image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .avatar_image{
    position: absolute;
    top: 550px;
    border-radius: 50%;
  }
  .infor_design{
    margin-left: 250px;
    margin-top: 10px;
  }
  .name_design{
    font-size: 3rem;
  }
  .location_design{
    font-size: 1.5rem;
  }
  .icon-link, .description_design{
    font-size: 2rem;
  }
  .description_design i{
    color:cornflowerblue;
  }

  .btn-right button{
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px #fd5353;
  }
  .title{
    margin-top: 50px;
   }



  .column{
    background-color: white;
    padding-top: 20px;
    width: 227px !important;
    margin: 10px;
}
.product_img{
    width: 225px;
}
.product_icon{
    font-size: 1.7rem;
    margin-left: 200px;
    position: absolute;
}
.first-img{
    width: 225px;
    height: 225px;
    background-size: cover;
}
.product_name{
    font-size: 1.5rem;
    padding: 5px 0;
}
.product_price{
    font-size: 1.5rem;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}




  @media (min-width: 1024px) and (max-width: 1200px) {
    .infor_design{
      margin-left: 200px;
    }
    .name_design{
      font-size: 2.5rem;
    }
    .description_design {
      font-size: 1.5rem;
  }
   
 }
 @media (min-width: 769px) and (max-width: 1024px){
   
  .content-person {
    margin-left: 30px;
    margin-right: 30px;
}
  .cover_image img {
    height: 300px;
}
.avatar_image {
  top: 350px;
}
.infor_design {
  margin-left: 200px;
  margin-top: 10px;
}
   .image_logo{
       width: 80px;
       margin-right: 20px;
   }
   .logo{
     width: 50px;
   }
   .infor_design{
    margin-left: 200px;
  }
  .name_design{
    font-size: 2rem;
  }
  .description_design, .icon-link {
    font-size: 1.4rem;
}
   .column{
    margin: 0px;
   }
 
 
   
 }
 @media (min-width: 480px) and (max-width: 769px){
   
   .content-person {
    margin-left: 10px;
    margin-right: 10px;
}
  .cover_image img {
    height: 200px;
}
.avatar_image img{
  width: 100px;
  height: 100px;
}
.avatar_image {
  top: 270px;
}
.infor_design {
  margin-left: 200px;
  margin-top: 10px;
}
   .image_logo{
       width: 80px;
       margin-right: 20px;
   }
   .logo{
     width: 50px;
   }
   .infor_design{
    margin-left: 100px;
  }
  .name_design{
    font-size: 2rem;
  }
  .description_design, .icon-link {
    font-size: 1.4rem;
}
   .column{
    margin: 0px;
   }
   .btn-right button {
    width: 120px;
    height: 40px;
    margin: 5px;
   }
   .title{
    margin-top: 30px;
   }

 
 
   .column{
    width: 150px !important;
    padding-left: 10px !important;
}
.product_img{
    width: 150px;
}
.first-img, .last-img {
    width: 150px;
    height: 150px;
}
.product_icon{
    margin-left: 120px;
}
.price{
    font-size: 1rem;
}

   .disnone-sm, .disnone{
       display: none;
   }
   
  .icon-user{
       display: block;
   }
   .down-line{
       justify-content: space-evenly;
   }
  
 }
 @media (min-width: 319px) and (max-width: 480px){
  
 .content-person {
  margin-left: 5px;
  margin-right: 5px;
}
.cover_image img {
  height: 120px;
}
.avatar_image img{
width: 80px;
height: 80px;
}
.avatar_image {
top: 130px;
}
.infor_design {
margin-left: 0px;
margin-top: 40px;
}
.btn-right{
  margin-top: 40px;
}
 .image_logo{
     width: 80px;
     margin-right: 20px;
 }
 .logo{
   width: 50px;
 }

.name_design{
  font-size: 2rem;
}
.description_design, .icon-link {
  font-size: 1.4rem;
}
 .column{
  margin: 0px;
 }
 .btn-right button {
  width: 120px;
  height: 40px;
  margin: 5px;
 }
 .title{
  margin-top: 30px;
 }

 .column{
  width: 150px !important;
  padding-left: 10px !important;
}
.product_img{
  width: 150px;
}
.first-img, .last-img {
  width: 150px;
  height: 150px;
}
.product_icon{
  margin-left: 120px;
}
.price{
  font-size: 1rem;
}

 
 
 
 
 
 

   .disnone-sm, .disnone{
       display: none;
   }
 .icon-user{
       display: block;
   }
   .down-line{
       justify-content: space-evenly;
       margin-top: 5px;
   }
 
 
 
 }