
/* Products Infor */
.content{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;

}
.Product_detail{
  display: flex;
  justify-content: center;
}
.dis-flex-all{
  display: flex;
  justify-content: center;
}
.dis-flex-xs{
  display: none;
}
.image_bar img{
  width: 100px;
  height: 100px;
  margin: 10px 0px;
  border: 1px solid black;
}
.image_Detail_Pr img{
  width: 550px;
  height: 650px;
  margin: 0px 20px;
}
.infor_Detail_Pr{
  width: 500px;
}
.name_Deatil_Pr, .price_DPr{
  font-size: 2.5rem;
  padding: 30px 0px;
}
.namedesign_DPr, .color_DPr, .chooseSizePr{
  font-size: 1.5rem;
}
.color_DPr p{
  margin-bottom: 0px;
  margin-top: 15px;
}
.color_Detail_Pr div{
  margin: 5px;
}
.color_Detail_Pr{
  display: flex;
}
.color_Detail_Pr div{
  width: 30px;
  height: 30px;
  border: 0.5px solid grey;
}
.chooseSizePr{
  margin: 15px 0px;
}
.sizeDetailPr button{
  width: 70px;
  height: 40px;
  margin: 5px;
  border: 0.5px solid black;
}
.sizeDetailPr button:hover{
  color: #fe5454;
  border: 0.5px solid #fe5454;
}
.Slimfit_Detail_Pr{
  display: flex;
  font-size: 1.5rem;
  margin: 5px 0px;
}
.Slimfit_Detail_Pr p{
  margin: 0px 5px;
}
.Slimfit_Detail_Pr a{
  color: black;
}
.btn-add-cart_DPr{
  width: 100%;
  font-size: 2rem;
  height: 50px;
  border: 2px solid #fe5454;
  border-radius: 5px;
  color: white;
  background: rgba(254, 84, 84, 0.50);
  margin: 15px 0px;
}
.btn-add-cart_DPr:hover{
  background-color:#fe5454;
}
.Other_Pr_Infor{
  font-size: 1.5rem;
}
.fa-solid{
  line-height: 1.5;
}
.Other_Pr_Infor b{
  margin: 0px 10px;
}
.evalue_DPr i{
  padding: 0px;
  color:goldenrod;
}

/* Infor product */
.infor_product{
  margin-top: 50px;
}
.infor_product-item-name{
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
.infor_product-item-name span{
  font-size: 1.5rem
}
.btn-minus{
  border: none;
  background: white;
}
.infor_product-item-content1{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.word{
  width: 50%;
  font-size: 1.7rem;
}
.inf_pr-item-image1{
  text-align: center;
  font-size: 1.7rem;
  width: 40%;
  position: relative;
  margin-top: 50px;
}
.img-infor-pr1{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fe5454;
  position: absolute;
  background-color: white;
  top: -50px;
  left: 40%;
}
.box-product-detail{
  padding-top: 50px;
  border: 1px solid #fe5454;
  padding-bottom: 20px;
}

.cart_separate{
  width: 100%;
  border-bottom: 1px solid black;
  margin: 50px 0px;
}


#myCollapse2 > p{
  font-size: 1.5rem;
}
.infor_product-item-content2{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.infor_product-item-content2 .table-size{
  width: 50%;
  margin: 0px 100px;
}
.table-size tr{
  height: 40px;
}


.infor_product-item-content3{
  margin: 10px 0px;
}
.item_cmt{
  margin: 30px 0px;
  font-size: 1.5rem;
}


.infor_product-item-content4{
  margin-top: 10px;
}
.img-design-detail{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.name_design-detail > p{
  font-size: 2rem;
  font-weight: 500;
  color:#bcbcbc;
}
.name_design-detail{
  font-size: 1.5rem;
}
.report_design{
  font-size: 1.3rem;
  margin: 10px 0px;
}
.btn-report{
  border-radius: 5px;
}


.column{
  background-color: white;
  padding-top: 20px;
  width: 227px !important;
  margin: 0px 10px;
  position: relative;
}
.product_img{
  width: 225px;
}
.first-img, .last-img{
  width: 225px;
  height: 225px;
  background-size: cover;
}
.product_img:hover .last-img{
  display: block;
}
.product_img:hover .first-img,.last-img {
  display: none;
}
.product_icon{
  font-size: 1.7rem;
  margin-left: 200px;
  position: absolute;
}
.product_name{
  font-size: 1.4rem;
  padding: 5px 0;
}

.Other_design{
  font-size: 2rem;
  margin: 40px 0px;
}

.icon-chevron{
  font-size: 2rem;
  color: #fe5454;
  margin: 0px 20px;
}
.btn-showshop{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fe5454;
  color: #fe5454;
  background-color: white;
  font-weight: 500;
  margin: 20px 0px;
}

.down-line{
  display: flex;
}
li a {
  text-decoration: none;
  color: black;
}

.bar, .icon-user{
  display: none;
}


@media (min-width: 1024px) and (max-width: 1200px) {
  .content {
    margin-left: 20px;
    margin-right: 20px;
}
.image_Detail_Pr img {
  width: 450px;
  height: 550px;
  margin: 0px 15px;
}
.color_DPr p {
  margin-top: 10px;
}
.chooseSizePr {
  margin: 10px 0px;
}
.Other_Pr_Infor b {
  margin: 0px 5px;
}


.column{
  padding-top: 20px;
  width: 170px !important;
  margin: 0px auto;
}
.product_img{
  width: 170px;
}
.first-img, .last-img{
  width: 170px;
  height: 170px;
}
.product_icon{
  margin-left: 145px;
}
.icon-chevron {
  margin: 0px 10px;
}
}
@media (min-width: 1200px) and (max-width: 1450px){
  
.column{
  padding-top: 20px;
  width: 190px !important;
  margin: 0px auto;
}
.product_img{
  width: 190px;
}
.first-img, .last-img{
  width: 190px;
  height: 190px;
}
.product_icon{
  margin-left: 165px;
}
.icon-chevron {
  margin: 0px 10px;
}
}
@media (min-width: 769px) and (max-width: 1024px){
 /* content */
 .image_bar img {
  width: 80px;
  height: 80px;
  margin: 5px 0px;
}
 .content {
  margin-left: 20px;
  margin-right: 20px;
}
.image_Detail_Pr img {
width: 350px;
height: 450px;
margin: 0px 15px;
}
.name_Deatil_Pr, .price_DPr {
  font-size: 1.5rem;
  padding: 0px;
}
.namedesign_DPr, .color_DPr, .chooseSizePr, .Slimfit_Detail_Pr, .Other_Pr_Infor{
  font-size: 1rem;
}
.color_DPr p {
margin-top: 10px;
}
.chooseSizePr {
margin: 10px 0px;
}
.sizeDetailPr button {
  width: 60px;
  height: 30px;
  margin: 2px;
}
.btn-add-cart_DPr {
  font-size: 1.5rem;
  height: 40px;
  margin: 5px 0px;
}
.Other_Pr_Infor b {
margin: 0px 5px;
}


.img-infor-pr1{
  left: 35%;
}
}
@media (min-width: 480px) and (max-width: 769px){
 
 .disnone-sm{
     display: none;
 }
  .icon-user{
     display: block;
 }
 .down-line{
     justify-content: space-evenly;
 }


 .infor_product-item-name {
  font-size: 2rem;
 }
 .infor_product-item-content1{
  display: block;
 }
 .word{
  width: 100%;
 }
 .inf_pr-item-image1{
  width: 100%;
 }
 .infor_product-item-content2 {
  display: block;
  text-align: center;
 }
 .infor_product-item-content2 .table-size {
  width: 100%;
  margin: 0px;
 }

 /* content */
 .image_bar img {
  width: 80px;
  height: 80px;
  margin: 5px 0px;
}
 .content {
  margin-left: 20px;
  margin-right: 20px;
}
.Product_detail {
  display: block;
}
.image_Detail_Pr img {
width: 350px;
height: 450px;
margin: 0px 15px;
}
.infor_Detail_Pr {
  width: 100%;
}
.name_Deatil_Pr, .price_DPr {
  font-size: 2rem;
}
.price_DPr {
  padding: 10px 0px;
}
.namedesign_DPr, .color_DPr, .chooseSizePr, .Slimfit_Detail_Pr, .Other_Pr_Infor{
  font-size: 1rem;
}
.flex-sm{
  display: flex;
  justify-content: space-between;
}
.color_DPr p {
margin-top: 10px;
}
.chooseSizePr {
margin: 5px 10px;
}
.sizeDetailPr{
  margin-top: 10px;
}
.sizeDetailPr button {
  width: 55px;
  height: 25px;
  margin: 1px;
}
.btn-add-cart_DPr {
  font-size: 1.5rem;
  height: 40px;
  margin: 5px 0px;
  width: 100%;
}
.Other_Pr_Infor b {
margin: 0px 5px;
}
}
@media (min-width: 319px) and (max-width: 480px){
.infor_product-item-name {
  font-size: 1.7rem;
 }
 .infor_product-item-content1{
  display: block;
 }
 .word{
  font-size: 1rem;
  width: 100%;
 }
 .img-infor-pr1 {
  left: 35%;
 }
 .inf_pr-item-image1{
  width: 100%;
  font-size: 1rem;
 }
 #myCollapse2 > p, .name_design-detail{
  font-size: 1rem;
 }
 .infor_product-item-content2 {
  display: block;
  text-align: center;
  font-size: 1rem;
 }
 .img-size-clothes{
  display: flex;
  align-items: center;
 }
 .infor_product-item-content2 .table-size {
  width: 100%;
  margin: 0px;
 }
 .table-size tr {
  height: 25px;
}

.item_cmt {
  margin: 15px 0px;
  font-size: 1rem;
}
.cart_separate{
  margin: 30px 0px;
}







 .disnone-sm, .disnone{
     display: none;
 }
  .icon-user{
     display: block;
 }
 .down-line{
     justify-content: space-evenly;
     margin-top: 5px;
 }



 /* content */
 .dis-flex-all{
  display: block;
  text-align: center;
 }
 .dis-flex-xs{
  display: flex;
  justify-content: center;
 }
 .image_bar img {
  width: 80px;
  height: 80px;
  margin: 5px;
}
 .content {
  margin-left: 20px;
  margin-right: 20px;
}
.Product_detail {
  display: block;
}
.image_Detail_Pr img {
width: 250px;
height: 300px;
margin: 0px 15px;
}
.infor_Detail_Pr {
  width: 100%;
}
.name_Deatil_Pr, .price_DPr {
  font-size: 1.5rem;
}
.price_DPr {
  padding: 10px 0px;
}
.namedesign_DPr, .color_DPr, .chooseSizePr, .Slimfit_Detail_Pr, .Other_Pr_Infor{
  font-size: 1rem;
}
.color_DPr p {
margin-top: 10px;
}
.color_Detail_Pr div {
  width: 20px;
  height: 20px;
  margin: 2px;
}
.chooseSizePr {
  margin: 10px 0px;

}
.sizeDetailPr{
  margin-top: 0px;
}
.sizeDetailPr button {
  width: 55px;
  height: 25px;
}
.btn-add-cart_DPr {
  font-size: 1.5rem;
  height: 40px;
  margin: 5px 0px;
  width: 100%;
}
.Other_Pr_Infor b {
margin: 0px 5px;
}

}