p{
    margin: 0 !important;
}
.container_address{
    font-size: 1.5rem;
    padding: 15px 0;
}
.container_address a{
    text-decoration: none;
    color: black;
}

.text{
    height: 100%;
    margin-left: 50px;
    transform: translateY(35%);
}
.container_body{
    display: flex;
    margin: 20px 0;
}
.sidebar{
    width: 220px;
    margin: 10px;
}
.flex{
    display: flex;
}
.sidebar_item{
    font-size: 1.8rem;
    padding: 15px 0;
}
.categories_name{
    font-size: 1.4rem;
}
.categories_list{
    list-style: none;
    display: block;
}
.categories_list > li{
    padding: 5px 0;
}
.categories_list > li > a, .more1{
    text-decoration: none;
    font-size: 1.35rem;
    color: black;
}
form > div > input, form > input{
    width: 20px;
    height: 20px;
    margin: 5px 0;
}
form > div > span, form > span {
    font-size: 1.35rem;
    padding: 10px;
}
.more1{
    margin-left: 30px;
}
.price_range > input{
    background: #F0E6E6;
    border: none;
    width: 70px;
    height: 30px;
    text-align: center;
    color: black;
}
.sidebar_btn{
    width: 140px;
    height: 30px;
    margin: 10px 0;
    background-color: var(--main-color);
    color: white;
    border: none;
}



.sidebar_star > i{
    font-size: 1.5rem;
    padding: 4px;
}
.star_yellow{
    color: #E3E80B;
    padding: 0;
}
.star_grey{
    color: #D1CDCD;
}


.row{
    display: flex;
}
.product{
    height: 350px;
    margin-bottom: 20px;
    width: 210px !important;
}
.column{
    background-color: white;
    margin: 5px;
    padding: 5px;
}
.first-img{
    width: 220px;
    height: 230px;
    background-size: cover;
}

.product_icon{
    font-size: 1.7rem;
    margin-left: 200px;
    position: absolute;
}
.product_name{
    font-size: 1.4rem;
    padding: 5px 0;
}
.product_price{
    font-size: 1.7rem;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.price{
    color: var(--main-color);
}
.name-design{
    font-size: 1.3rem;
    font-weight: 400;
    color: grey;
}
.product_name{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
}
.description{
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: grey;

}
.image-249-parent{
    font-size: 1.7rem;
    padding: 5px 0;
}
.page_number{
    display: flex;
    align-items: center;
    text-align: center;
}
/* .page_number > div{
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 1.5rem;
    border-radius: 10px;
} */
.div1{
    background-color: var(--main-color);
}
.div:hover{
    border: 1px solid var(--main-color);
}
.row-listproduct{
    width: 82%;
    height: 1480px;
}
.sidebar-col-2{
    width: 18%;
}
.content{
    width: 100%;
}
.image-Product{
    width: 210px;
    height:210px;
}

nav{
    margin: 0 auto;
    padding-left: 100px;
}
nav > div > span, nav > div > a{
    font-size: 1.5rem;
}
nav > div > a{
    color: #fe5454;
}
nav > div > div > p{
    display: none;
}
nav > div > div > span, nav > div > div > a{
    display: none;
}


