@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: #f7f8f9; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.auth-container {
    max-width: 1530px;
    height: 575px;
    margin: 0px;
    /* border-radius: 15px; */
    /* box-shadow: 1px 2px 8px 8px #ccc3; */
    display: flex;
    /* margin-top: 4rem; */
    overflow: hidden;
    justify-content:space-between;
}

.auth-image {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
    width: 100%; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-action-right {
    width: 650px;
}

.login-form{
    width: 480px;
    padding-left: 30px;
}
.auth-form-outer {
    padding: 2rem 9rem;
    display: block;
}

h2.auth-form-title {
    text-align: center;
    color: #fd5353;
    font-size: 1.7rem;
}

.auth-form-outer input {
    border: 1px solid #56aef485;
    margin-bottom: 1rem;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f7f8f97a;
}

.auth-form-outer input:hover,
.auth-form-outer input:focus {
    outline: none;
    box-shadow: none;
}

.auth-form-outer input:focus {
    background-color: #fff;
    border: 1px solid #fd5353;
}


input.auth-form-input::placeholder {
    color: #0f82dd4d;
}



  input[type="checkbox"] {
    display: none;
}
  label input[type="checkbox"] ~ i.fa.fa-square-o{
      color: #fd5353;    display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
      color: #fd5353;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
  color: #fd5353;
  }
  
  div[data-toggle="buttons"] label.active{
      color: #fd5353;
  }
  
.auth-wrapper a {
    text-decoration: none;
    color: #fd5353;
}

a.auth-btn-direct {
    flex: 1;
    border: 1px solid #fd5353;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 10px;
}

input.auth-submit {
    background: #fe5454;
    border: none;
    width: auto;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    flex: 1;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 10px;
}

input.auth-submit:focus {
    background: #fe5454;
    color: #fff;
}

input.auth-submit:hover {
    box-shadow: 3px 3px 7px 2px #f443362b;
    margin-left: 10px;
}
a.auth-btn-direct:hover {
    box-shadow: -2px 3px 0px 0px #F44336;
    margin-right: 10px;
}

.auth-external-list ul li a:hover {
    color: #fd5353;
    border-color: #fd5353;
}

.footer-action {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.auth-external-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.auth-external-list ul li {
    float: left;
}

.auth-external-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.auth-external-list ul li a {
    width: 26px;
    height: 26px;
    margin: 7px;
    display: block;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    border: 1px solid #00000078;
    color: #555;
}

p.auth-sgt {
    text-align: center;
}

.auth-forgot-password a {
    text-align: center;
    display: block;
    border-top: 1px dashed #f4433633;
    padding: 20px;
    margin-top: 20px;
}


.input-icon {
    position: relative;
 }

.input-icon input {
   padding-right: 4rem;
}

.input-icon i {
    position: absolute;
    top: 38%;
    right: 1.2rem;
    transform: translateY(-50%);
    color: #2196f3b5;
    cursor: pointer;
}




/* LOGO */
/* .bg_logo{
    width: 335px;
    height: 321px;
    background: white;
    border-radius: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.logo{
    width: 500px;
    height: 200px;
    transform: translateX(3%);
    border-radius: 50px;
}

/* FOOTER */
.footer{
    background: rgba(51, 51, 51, 0.10);
    width: 100%;
    height: 170px;
    display: flex;
    padding-top: 10px;
}
.footer_left, .footer_middle1, .footer_middle2, .footer_right{
    margin-left: 70px;
    margin-right: 70px;
}
.follow{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.50);
    width: 450px;
    height: 70px;
    margin-left: 30px;
    transform: translateY(30%);
}
.follow b{
    margin-left: 25px;
    font-size: 24px;
}
.footer_email{
    width: 331px;
    height: 25px;
    border: none;
    margin-left: 25px;
}
.send{
    margin-left: 20px;
    width: 58px;
    height: 25px;
    background: #fe5454;
    border: none;
    border-radius: 10px;
    color: white;
}
.footer_email:focus {
    outline: none;
    border: 1px solid #fd5353;
}


.language b{
    margin-left: 55px;
    font-size: 20px;
}
.language{
    transform: translateY(50%);
}
.footer_language{
    width: 331px;
    height: 25px;
    border: none;
    margin-left: 55px;
    margin-top: 10px;
    position: relative;
}
.footer_language:focus {
    outline: none;
    border: 1px solid #fd5353;
}
.language_select{
    width: 410px;
    height: 36px;
}


.service{
    list-style: none;
}
.service{
    padding: 0;
}
.service_item{
    font-size: 1.1rem;
    height: 25px;
}
td{
    margin-right: 20px;
}
.footer b{
    font-size: 1.3rem;
}

.down-line{
    display: flex;
}

.is-invalid {
    border-color: red;
}


   

.alert-danger {
    /* margin-top: 2px; */
    color: red;
    margin-bottom: 20px;
    
}
.is-invalid  .alert-danger {
    border-color: red;
    color: red;
}

.alert_error{
    padding:10px ;
    color:red;
    background-color: #df09101a;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 30px;
    border-radius: 5px;
}



@media (min-width: 1024px) and (max-width: 1200px){
    .auth-form-outer {
        padding: 1rem;
    }
    .auth-action-right {
        width: 50%;
    }
    .logo {
        width: 460px;
        height: 160px;
    }
    .footer{
        justify-content: space-evenly;
    }
    .footer_left, .footer_middle1, .footer_middle2, .footer_right {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .auth-container{
        background-image: url(/img/vector.jpg);
        background-repeat: repeat;
    }
    .auth-action-left{
        background-color: white;
        margin: 10px auto;
    }
    .auth-action-right {
        display: none;
    }
    .footer{
        justify-content: space-evenly;
    }
    .footer_left, .footer_middle1, .footer_middle2, .footer_right {
        margin-left: 10px;
        margin-right: 10px;
    }

    .follow{
        width: 285px;
        height: 100px;
        margin-left: 5px;
        transform: translateY(0%);
    }
    .follow b{
        font-size: 1rem;
    }
    .footer_email{
        width: 250px;
        height: 30px;
        margin: 0 0 5px 10px;
        border: 1px solid #fd5353;
    }
    .language{
        transform: translateY(0%);
    }
    .language b{
        margin-left: 10px;
        font-size: 1rem;
    }
    .footer_language{
        width: 231px;
        height: 30px;
        margin-left: 10px;
    }
    .language_select {
        width: 310px;
        height: 30px;
    }
    .footer b, .footer td{
        font-size: 1rem;
    }
}
@media (min-width: 481px) and (max-width: 769px){
    .auth-action-left{
        margin: 10px auto;
    }
    .auth-form-outer {
        padding: 0.1rem;
    }
    .auth-action-right {
        display: none;
    }
    .auth-form-outer input, .footer-action{
        width: 90%;
    }
    .input-icon i{
        right: 3.5rem
    }
    .footer{
        display: flex;
        justify-content: space-evenly;
    }
    .footer_left, .footer_middle1, .footer_middle2, .footer_right {
        margin-left: 5px;
        margin-right: 5px;
    }

    
    .follow{
        width: 200px;
        height: 80px;
        transform: translateY(0%);
        margin-left: 20px;
    }
    .follow b{
        font-size: 0.1rem;
        margin-left: 2px;
    }
    .footer_email{
        width: 180px;
        height: 20px;
        margin: 0 0 5px 10px;
        border: 1px solid #fd5353;
    }
    .language{
        transform: translateY(0%);

    }
    .language b{
        margin-left: 20px;
        font-size: 0.7rem;
    }
    .footer_language{
        width: 200px;
        height: 30px;
        margin-left: 20px;
    }
    .language_select {
        width: 200px;
        height: 30px;
    }
    .footer b, .footer td{
        font-size: 0.7rem;
    }
    .footer td{
        margin-right: 5px;
    }
}
@media (min-width: 319px) and (max-width: 481px){
    .auth-action-left{
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }
    .auth-form-outer {
        padding: 0.1rem;
    }
    .auth-action-right {
        display: none;
    }
    .auth-form-outer input, .footer-action{
        width: 75%;
    }
    .input-icon i{
        right: 5rem;
    }
    .login-form{
        width: 110%;
        margin: 5px auto;
        padding-left: 0px;
    }
    .footer-action{
        margin: 2rem auto;
    }
    .footer{
        display: block;
        height: 250px;
    }
    .footer_left, .footer_middle1, .footer_middle2, .footer_right {
        margin-left: 5px;
        margin-right: 5px;
    }

    
    .follow{
        width: 280px;
        height: 50px;
        transform: translateY(0%);
        margin-left: 20px;
    }
    .follow b{
        font-size: 0.1rem;
        margin-left: 2px;
    }
    .footer_email{
        width: 180px;
        height: 20px;
        margin: 0 0 5px 10px;
        border: 1px solid #fd5353;
    }
    .language{
        transform: translateY(0%);

    }
    .language b{
        margin-left: 20px;
        font-size: 0.7rem;
    }
    .footer_language{
        width: 200px;
        height: 20px;
        margin-left: 20px;
    }
    .language_select {
        width: 200px;
        height: 30px;
    }
    .footer b, .footer td{
        font-size: 0.7rem;
    }
    .footer td{
        margin-right: 5px;
    }
    .down-line{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }
}